extends layout

block content
  include author
  each article in articles
    article.article.intro
      header
        p.date
          span= moment.utc(article.date).format('DD. MMMM YYYY')
        h2
          a(href=article.url)= article.title
      section.content
        | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more
block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
  div(style="margin-bottom: 2.5em")
    div(align="center")
      script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
      <!-- responsive footer -->
      ins(
       class="adsbygoogle",
       style="display:block",
       data-ad-client="ca-pub-4069781503703337",
       data-ad-slot="4717918886",
       data-ad-format="auto")
      script.
       (adsbygoogle = window.adsbygoogle || []).push({});



